{
  "endOfLine": "auto",
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "importOrder": [
    "^react$",
    "next",
    "<THIRD_PARTY_MODULES>",
    "^@/styles/(.*)$",

    "^@/scripts/(.*)$",

    "^@/features/(.*)$",
    "^@/layouts/(.*)$",
    "^@/modules/(.*)$",
    "^@/elements/(.*)$",
    "^@/icons/(.*)$",

    "^@/contexts/(.*)$",
    "^@/wrappers/(.*)$",
    "^@/hooks/(.*)$",

    "^@/classes/(.*)$",
    "^@/instances/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^@/types/(.*)$",

    "^@/images/(.*)$",
    "^@/fonts/(.*)$",

    "^@/(.*)$",

    "^(\\.\\./)+"
  ],
  "importOrderSeparation": true,
  "importOrderGroupNamespaceSpecifiers": true
}
